@import '@shared/styles/styles.scss';

ul {
    @include border(right, 2px , solid , $border-color);
    background-color: $surface-color-3;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 8px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

ul::-webkit-scrollbar {
  display: none;
}